* {
  margin: 0;
}
html, body {
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: OpenSans Regular;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  &:hover {
  	opacity: .8;
  }
}